{{ checkboxes({
  "idPrefix": "resource-type",
  "name": "resource",
  "fieldset": {
    "legend": {
      "text": "Resource type",
      "classes": "nhsuk-fieldset__legend--s",
      isPageHeading: false
    }
  },
  "items": [
    {
      "value": "case study",
      "text": "Case study",
      id: "resource"
    },
    {
      "value": "data statistics",
      "text": "Data and statistics"
    },
    {
      "value": "guidance",
      "text": "Guidance"
    },
    {
      "value": "nhs contract",
      "text": "NHS Standard Contract"
    },
    {
      "value": "regulatory",
      "text": "Regulatory"
    },
    {
      "value": "research",
      "text": "Research"
    },
    {
      "value": "service specification",
      "text": "Service specification"
    },
    {
      "value": "standard procedure",
      "text": "Standard operating procedure"
    },
    {
      "value": "templates",
      "text": "Templates and forms"
    }
  ]
}) }}
