{{ checkboxes({
  "idPrefix": "content-type",
  "name": "content",
  "fieldset": {
    "legend": {
      "text": "Content type",
      "classes": "nhsuk-fieldset__legend--s",
      isPageHeading: false
    }
  },
  "items": [
    {
      "value": "news",
      "text": "News",
      id: "content"
    },
    {
      "value": "blog posts",
      "text": "Blog posts"
    },
    {
      "value": "resources",
      "text": "Resources"
    },
    {
      "value": "web page",
      "text": "Web page"
    }
  ]
}) }}
