<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% from 'images/macro.njk' import image %}

{% block pageTitle %}
  NHS England and Improvement - Search results
{% endblock %}

{% block header %}

{% include "v2/partials-v2/header-v2.html" %}

{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/v2/home",
      text: "Home"
    }
  ],
  href: "#",
  text: "Publications"
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Change the page title here -->
      <h1>
      Publications
      </h1>

      <!-- Search bar and hide nav search bar -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <!-- Filters -->
      <div class="nhsuk-grid-column-one-third">
        <aside class="" role="search" aria-label="Search">
          <div class="nhsuk-grid-row">
            <h3 class="nhsuk-heading-s">Filter by</h3>
            <!-- Form starts -->
            <div class="nhsuk-form-group">

              {% include "v1/filter-content-type.html" %}
              {% include "v1/filter-resource-type.html" %}
              {% include "v1/filter-topics.html" %}
              <br>
              {{ button({
                "text": "Filter results",
                "classes": "nhsuk-button--secondary"
              }) }}
            </div>
            <!-- end of form -->
          </div>
        </aside>
      </div>

      <div class="nhsuk-grid-column-two-thirds">
        <!-- How many results -->
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">
          Found <b>5,618</b> matching results.
        </p>

        {% include "v1/filter-sort-by.html" %}
        <!-- Results block -->
        <ul class="nhsuk-list nhsuk-list--border" start="1">
          <!-- Best bets -->
          <!-- Results -->
          <li class="nhsie-search-result-item">
            <h2 class="nhsuk-u-margin-bottom-1 nhsuk-heading-s">
              <a href="/v1/content-page" class="app-search-results-item">Headline <strong>matching word</strong> title</a>
            </h2>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1">
              Urgent advice: Go to A&amp;E after a <strong>matching word</strong> injury if you or your child have:. ... Immediate action required: Call 999 if someone has hit their <strong>head</strong> and has:.
            </p>
            <p class="nhsuk-body-s">
              <b>Published: </b> 1st January 2020 - <em>Latest version</em><br>
              <span class="nhsie-result-meta"><b>Content type: </b><a href="#">Case study</a></span>
              <span class="nhsie-result-meta"></span>
              <b>Main topic: </b><a href="#">Cancer</a>
            </p>
          </li>
          <li class="nhsie-search-result-item">
            <h2 class="nhsuk-u-margin-bottom-1 nhsuk-heading-s">
              <a href="/v1/content-page" class="app-search-results-item">Headline <strong>matching word</strong> title</a>
            </h2>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1">
              Urgent advice: Go to A&amp;E after a <strong>matching word</strong> injury if you or your child have:. ... Immediate action required: Call 999 if someone has hit their <strong>head</strong> and has:.
            </p>
            <p class="nhsuk-body-s">
              <b>Published: </b> 1st January 2020 - <em>Latest version</em><br>
              <span class="nhsie-result-meta"><b>Content type: </b><a href="#">Case study</a></span>
              <span class="nhsie-result-meta"></span>
              <b>Main topic: </b><a href="#">Cancer</a>
            </p>
          </li>
          <li class="nhsie-search-result-item">
            <h2 class="nhsuk-u-margin-bottom-1 nhsuk-heading-s">
              <a href="/v1/content-page" class="app-search-results-item">Headline <strong>matching word</strong> title</a>
            </h2>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1">
              Urgent advice: Go to A&amp;E after a <strong>matching word</strong> injury if you or your child have:. ... Immediate action required: Call 999 if someone has hit their <strong>head</strong> and has:.
            </p>
            <p class="nhsuk-body-s">
              <b>Published: </b> 1st January 2020 - <em>Latest version</em><br>
              <span class="nhsie-result-meta"><b>Content type: </b><a href="/v1/content-page">Case study</a></span>
              <span class="nhsie-result-meta"></span>
              <b>Main topic: </b><a href="#">Cancer</a>
            </p>
          </li>
          <li class="nhsie-search-result-item">
            <h2 class="nhsuk-u-margin-bottom-1 nhsuk-heading-s">
              <a href="/v1/content-page" class="app-search-results-item">Headline <strong>matching word</strong> title</a>
            </h2>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1">
              Urgent advice: Go to A&amp;E after a <strong>matching word</strong> injury if you or your child have:. ... Immediate action required: Call 999 if someone has hit their <strong>head</strong> and has:.
            </p>
            <p class="nhsuk-body-s">
              <b>Published: </b> 1st January 2020 - <em>Latest version</em><br>
              <span class="nhsie-result-meta"><b>Content type: </b><a href="#">Case study</a></span>
              <span class="nhsie-result-meta"></span>
              <b>Main topic: </b><a href="#">Cancer</a>
            </p>
          </li>
          <li class="nhsie-search-result-item">
            <h2 class="nhsuk-u-margin-bottom-1 nhsuk-heading-s">
              <a href="/v1/content-page" class="app-search-results-item">Headline <strong>matching word</strong> title</a>
            </h2>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1">
              Urgent advice: Go to A&amp;E after a <strong>matching word</strong> injury if you or your child have:. ... Immediate action required: Call 999 if someone has hit their <strong>head</strong> and has:.
            </p>
            <p class="nhsuk-body-s">
              <b>Published: </b> 1st January 2020 - <em>Latest version</em><br>
              <span class="nhsie-result-meta"><b>Content type: </b><a href="#">Case study</a></span>
              <span class="nhsie-result-meta"></span>
              <b>Main topic: </b><a href="#">Cancer</a>
            </p>
          </li>
        </ul>

        <!-- Pagination -->
        {{ pagination({
          "nextUrl": "#",
          "nextPage": "Page 2 of 213"
        }) }}
      </div>
    </div>
  </article>

  <!-- End of content -->
{% endblock %}
