<!-- raw example from https://medium.com/swlh/building-a-css-only-responsive-multi-level-mega-menu-ee0a3781cc3f
CODEPEN: https://codepen.io/vixxofsweden/pen/xxGGYOE
-->
<!-- needs refining and styling -->
<div class="nav">
    <nav>
        <a href="javascript:void(0);" class="mobile-menu-trigger">Open mobile menu</a>
        <ul class="menu menu-bar">
            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">1. Multilevel mega
                    menu</a>
                <ul class="mega-menu mega-menu--multiLevel">
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">1.1 Flyout
                            link</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">1.1.1 Page link</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-link menu-list-link"
                                    aria-haspopup="true">1.1.2 Flyout link</a>
                                <ul class="menu menu-list">
                                    <li>
                                        <a href="/page" class="menu-link menu-list-link">1.1.2.1 Page link</a>
                                    </li>
                                    <li>
                                        <a href="/page" class="menu-link menu-list-link">1.1.2.2 Page link</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">1.1.3 Page link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">1.2 Flyout
                            link</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">1.2.1 Page link</a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">1.2.2 Page link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">1.3 Flyout
                            link</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">1.3.1 Page link</a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">1.3.2 Page link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page" class="menu-link mega-menu-link">1.4 Page link</a>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">2. Flat mega menu (3
                    cols)</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                        <a href="/page" class="menu-link mega-menu-link mega-menu-header">2.1 Page link header</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.1.1 Page link</a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.1.2 Page link</a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.1.3 Page link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page" class="menu-link mega-menu-link mega-menu-header">2.2 Page link header</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.2.1 Page link</a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.2.2 Page link</a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.2.3 Page link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page" class="menu-link mega-menu-link mega-menu-header">2.3 Page link header</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.2.1 Page link</a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">2.2.2 Page link</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">3. Flat mega menu (2
                    cols)</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                        <a href="#" class="menu-link mega-menu-link mega-menu-header">3.1 Page link header</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                                    3.1.1 Page link<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                                    3.1.2 Page link<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                                    3.1.2 Page link<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-content">
                        <p class="mega-menu-header">3.2 Page link header</p>
                        <p>This is just static content. You can add anything here. Images, text, buttons, your grandma's
                            secrect
                            recipe.</p>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/page" class="menu-link menu-bar-link">Static link</a>
            </li>

            <li class="mobile-menu-header">
                <a href="/home" class="">
                    <span>Home</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
  <div class="nhsuk-width-container">
    <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
      <button class="nhsuk-header__navigation-close" id="close-menu">
        <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        <span class="nhsuk-u-visually-hidden">Close menu</span>
      </button>
    </p>
    <button aria-haspopup="true" aria-expanded="false">Publications
    <span aria-hidden="true">&#x25be;</span>
    </button>
  </div>

</nav> -->
