<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% from 'images/macro.njk' import image %}

{% block pageTitle %}
  NHS England and Improvement - Blogs
{% endblock %}

{% block header %}

{% include "partials/header.html" %}

{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: "/home",
      text: "Home"
    }
  ],
  href: "/blogs",
  text: "Blogs"
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}
<article class="article">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <h1 class="">
          Blogs
        </h1>

      </div>
    </div>
  </div>
</article>

  <!-- End of content -->
{% endblock %}
