<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS England and Improvement
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        NHS England and Improvement
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <hr>

      <h2>Beta prototypes </h2>

      <h3>
        <a href="/home">Latest beta prototype</a>
      </h3>

      <h3>
        <a href="/v2/home">Homepage prototype and navigation</a>
      </h3>
<hr>
      <h2>Alpha prototypes</h2>
      <h3>
        <a href="/v1/home">Navigation prototype</a>
      </h3>

      <hr>

      <h3>
        <a href="/v1/search-results-page">Search results</a>
      </h3>

      <hr>

      <h3>
        <a href="/v1/content-page">Content page prototype</a>
      </h3>

      <hr>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
